<h2>Customer Details</h2>
<ul>
  <span>Customer Id: {{customer.customerId}}</span><br>
  <span>Name: {{customer.givenName}}</span><br>
  <span>Family Name: {{customer.familyName1}}</span><br>
  <span>Document Type: {{customer.docType}}</span><br>
  <span>Document Number: {{customer.docNum}}</span><br>
  <span>Email: {{customer.email}}</span><br>
  <span>Phone: {{customer.phone}}</span><br>
</ul>
<ul>
  <h3>Customer Proucts</h3>
  <li *ngFor="let product of products">
    <span>Product Name: {{product.productName}}</span><br>
    <span>Product Type: {{product.productTypeName}}</span><br>
    <span>Terminal Number: {{product.numeracioTerminal}}</span><br>
    <span>Sold At: {{product.soldAt}}</span><br>
    <hr size="2" width="90%" color="black">  
  </li>
</ul>
<router-outlet></router-outlet>
